@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #243642;
  --secondary: #387478;
  --main: #629584;
  --subMain: #e2f1e7;
  --border: #d1d5dc;
  --input: #d1e9ff;
  --muted: #6a7282;
  --input-focus: #93c9ff;
}

@theme inline {
  --color-muted: var(--muted);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-main: var(--main);
  --color-subMain: var(--subMain);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-input-focus: var(--input-focus);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer components {
  .input {
    @apply border-2 border-input rounded-lg px-3 py-1.5 outline-0 focus:border-input-focus duration-300 w-full;
  }
  .main-btn {
    @apply bg-primary text-background py-2 rounded-lg w-full cursor-pointer transition-all duration-300 hover:bg-primary/95 hover:-translate-y-0.5;
  }
}
