@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #243642;
  --secondary: #387478;
  --main: #629584;
  --submain: #e2f1e7;
  --input: #d1e9ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-main: var(--main);
  --color-submain: var(--submain);
  --color-input: var(--input);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer components {
  .input {
    @apply border-3 border-input rounded-md pl-5 py-2 outline-0;
  }
  .main-btn {
    @apply bg-primary text-background py-1 rounded-md w-full cursor-pointer transition-all duration-300 hover:bg-primary/80 hover:scale-[1.02];
  }
}
